

body {
    font-family: 'Bebas Neue', sans-serif;
  }

/* navbar.css */

.btn {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;

  }

  .btn-outline-primary {
    color: black;
    border-color: black;
  }

  .btn-primary {
    color: white;
    background-color: black;
    border-color: black;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  .introduction{
    background-color:whitesmoke;
    color: rgb(5, 5, 85);
}

main{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
  /* footer.css */

footer {
    background-color: #f7f7f7;
    color: #333;
    font-size: 14px;
    font-weight: 300;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #007bff;
  }
  
  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px;
  }
  
  footer .container p {
    margin: 0;
  }
  
  footer .container .d-flex {
    display: flex;
    align-items: center;
  }
  
  footer .container .d-flex a {
    margin-right: 0px;
    transition: all 0.2s;
  }
  
  footer .container .d-flex a:last-of-type {
    margin-right: 0;
  }
  
  footer .container .d-flex a:hover i {
    transform: scale(1.2);
  }

  .fab.fa-pinterest {
    color: #E60023;
    }
  
    .fab.fa-facebook {
        color: #3b5998;
    }

    .fab.fa-github {
        color: #171515
    }

    .fab.fa-twitter {
        color:  #00acee
    }

    .fab.fa-instagram{
        color: white;
        background: radial-gradient(
            circle at 33% 100%,
            #fed373 4%,
            #F15245 30%,
            #D92E7F 62%,
            #9B36B7 85%,
            #515ecf
            );
            width: 33px;
            height: 33px;
            border-radius: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
    
    
